<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/belerofonte</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<!-- <property name="hibernate.show_sql">true</property> -->
		<!-- <property name="hibernate.format_sql">true</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		
		<!-- Config. Hibernate Search init -->
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">indexes</property>
		<!-- Config. Hibernate Search end -->
		
		<mapping class="br.com.belerofonte.model.User" />
		<mapping class="br.com.belerofonte.model.ApplicationFile" />
		<mapping class="br.com.belerofonte.model.Plataform" />
		<mapping class="br.com.belerofonte.model.ApplicationCategory" />

		<!-- Config. Hibernate Search init -->
		<!-- <event type="post-update">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>
		<event type="post-insert">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>
		<event type="post-delete">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event> -->
		<!-- Config. Hibernate Search end -->
	</session-factory>

</hibernate-configuration>

